body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    background-color: #f4f4f4;
}

#portada, #activityList, #activityDetails, #photoModal {
    text-align: center;
    margin: 20px;
}

.hidden {
    display: none;
}

table {
    width: 100%;
    border-collapse: collapse;
    margin: 20px 0;
}

table, th, td {
    border: 1px solid #ddd;
}

th, td {
    padding: 8px;
    text-align: left;
}

tr:hover {
    background-color: #f1f1f1;
}

.photo {
    width: 80px;
    cursor: pointer;
}

#photoModal {
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: rgba(0, 0, 0, 0.7);
    display: none;
    justify-content: center;
    align-items: center;
}

#photoModalContent {
    position: relative;
}

#modalPhoto {
    max-width: 800px;
    max-height: 600px;
}
